{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
  <body>
    <div id="react-app">
    </div>
    <script>
      window.defaultNumber = {{ default_number }};
      window.csrfToken = "{{ csrf_token }}";
    </script>
    {% render_bundle 'main' 'css' %}
    {% render_bundle 'main' 'js' %}
  </body>
</html>
