.container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container2 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.buttonstyle1 {
  width: 30px;
  height: 30px;
  font-size: 20px
}

.buttonstyle2 {
  width: 100px;
  height: 30px;
  font-size: 20px
}